body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 20px;
}

.form {
    width: 80%;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    margin-bottom: 20px;
}


.edit:hover {
    cursor: pointer;
    border: 2px solid grey;
}
.form.edit {
    transition: 0.4s;
}

