.container{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.head_text{
    margin-top: 7.5vh;
    font-size: 32px;
    text-align: center;
}
.A4{
    margin-top: 7.5vh;
    width: 496px;
    height: 701px;
    background-image: url('../img/report.png');
    background-size: cover;
    display: flex;
}
.select_text{
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
    font-size: 32px;
    text-align: center;
}

.select_choice{
    display: flex;
    margin-bottom: 7.5vh;
}
.choice{
    margin-right: 10px;
    background-color: #5866FF;
    color: white;
    padding: 20px 30px 20px 30px;
    border-radius: 7px;
}

label{
    margin-right: 10px;
}

.show_form{
    margin-bottom: 7.5vh;
    display: none;
}
#fname,#lname,#id{
    width: 150px;
}
input{
    margin: 10px 10px 10px 0 ;
}
#year{
    width: 50px;
}
#address_number{
    width: 100px;
}
#district,#country{
    width: 202px;
}
#province,#phone_number{
    width: 217px;
}

#phone_parent{
    width: 250px;
}
#teacher{
    width: 412px;
}
#course_section,#course_code,#semester_year,#academic_semester{
    width: 75px;
}

textarea{
    margin: 20px 0 10px 0;
    width: 440px;
}

#test{
    display: none;
}
.show_more_form{
    display: none;
}
.end_move{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
.submit_block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7.5vh;
    background-color: #5866FF;
    
    border-radius: 7px;
    width: 150px;
    height: 50px;
}
.submit{
    color: white;
}
.active{
    display: block;
}
.none{
    display: none;
}